Source: requests
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Daniele Tricoli <eriol@mornie.org>
Section: python
Priority: optional
Build-Depends:
 debhelper (>= 8),
 python-all (>= 2.6.6-3),
 python-chardet,
 python-urllib3 (>= 1.7.1),
Standards-Version: 3.9.4
X-Python-Version: >= 2.6
Homepage: http://python-requests.org
Vcs-Svn: svn://anonscm.debian.org/python-modules/packages/requests/trunk/
Vcs-Browser: http://anonscm.debian.org/viewvc/python-modules/packages/requests/trunk/

Package: python-requests
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 ca-certificates,
 python-chardet,
 python-urllib3 (>= 1.7.1),
Description: elegant and simple HTTP library for Python, built for human beings
 Requests allow you to send HTTP/1.1 requests. You can add headers, form data,
 multipart files, and parameters with simple Python dictionaries, and access the
 response data in the same way. It's powered by httplib and urllib3, but it does
 all the hard work and crazy hacks for you.
 .
 Features
 .
   - International Domains and URLs
   - Keep-Alive & Connection Pooling
   - Sessions with Cookie Persistence
   - Browser-style SSL Verification
   - Basic/Digest Authentication
   - Elegant Key/Value Cookies
   - Automatic Decompression
   - Unicode Response Bodies
   - Multipart File Uploads
   - Connection Timeouts
